/* styles.css - Challenge #1 (Skeleton) */
* {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(211, 20, 116);
    font-size: 64px;
    margin: 8px;
    text-align: center;
}

.tagline {
    font-style: italic;
    color: rgb(79, 78, 78);
    margin: 0px;
    text-align: center;
}

.mascot-placeholder {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 20px;
}

img {
    padding: 0px 30px;
    width: 24ch;
    border: 3px solid black;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 20px;
}

.about {
    text-align: left;
    line-height: 20px;
}

.site-footer {
    text-align: center;
    color: grey;
    border-top: 1px solid lightgrey;
}

.actions {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.buy-tickets {
    background-color: rgb(81, 255, 81);
    border-color: rgb(81, 255, 81);
    border-radius: 10px;
    box-shadow: 0px 0px 12px aqua;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    border-style: none;
    cursor: pointer;  
}

.make-donation {
    background-color: rgb(107, 30, 207);
    border-color: rgb(107, 30, 207);
    border-radius: 10px;
    box-shadow: 0px 0px 12px hotpink;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    border-style: none;
    cursor: pointer;
}

.buy-tickets:active {
    background-color: rgb(8, 146, 8);
}

.make-donation:active {
    background-color: indigo;
}

.container {
    max-width: 800px;
}

@media (max-width: 380px) {
    .actions {
        flex-direction: column;
        gap: 10px;
    }
    .buy-tickets,
    .make-donation {
        width: 100%;
        max-width: 250px;
    }
}