/* styles.css - Challenge #2 (Skeleton: Rides Gallery) */


/* 0) Base page */
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

/* 1) Container */
.container {
    margin: 50px;
}

/* 2) Section heading */
.attractions h2 {
    text-align: center;
}

/* 3) Cards wrapper (center all cards horizontally) */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* 4) Card (size, spacing, border, rounded corners) */
.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 2px solid rgb(178, 178, 178);
    width: 244px;
    height: fit-content;
    max-width: 100%;
    margin: 0px;
    border-radius: 20px;
    overflow: hidden;
}

/* 5) Card text (h3 title, paragraph blurb) */
.card h3 {
    background-color: white;
    text-align: left;
    font-weight: bold;
    margin: 10px 8px 0px 8px;
}

.blurb {
    background-color: white;
    color: dimgray;
    margin: 5px 8px 10px 8px;
    line-height: 24px;
}

/* 6) Card image (fit within card, centered) */

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* 7) Hover state: change border to green, then make it wigglew */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(-4deg); }
    30% { transform: rotate(4deg); }
    45% { transform: rotate(-3deg); }
    60% { transform: rotate(3deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.card:hover {
    border-color: red;
    animation: wiggle 0.5s ease-in-out;
}

/* 8) Footer */
.site-footer {
    color: dimgray;
    text-align: center;
    border-top: 1px solid rgb(194, 194, 194);
    margin: 30px;
    padding-top: 10px;
}