:root {
  --banner-start: #2b5876;
  --banner-end: #4e4376;
}

/* Simple gradient banner */
.gradient-banner {
  background: linear-gradient(90deg, var(--banner-start), var(--banner-end));
  color: #fff;
}


/* Task 2 - Pagination */
.pagination {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin: 1rem 0px;
}


/* Task 11 - IMH Hotline */

